.App {
  display: flex;
  width: 1440px;
  margin-top: 3em;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 5em;
  margin-bottom: 1em;
}

.Links {
  display: flex;
  justify-content: center;
}

button {
  width: auto;
  margin: 1em;
  font-size: 2em;  
}
